body {
  background: #f8f9fa;
  min-height: 100vh;
  margin: 0;
  display: flex;
  overflow-x: hidden;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 20px;
  border: solid 1px #7b47b0bf;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  box-shadow:
    rgba(185, 185, 229, 0.576) 0px 4px 16px,
    rgba(195, 195, 241, 0.707) 0px 8px 24px,
    rgba(207, 207, 249, 0.784) 0px 16px 56px;
}

#sidebar {
  min-width: 220px;
  max-width: 220px;
  height: 100%;
  background: #343a40;
  color: #fff;
  position: fixed;
  top: 0;
  left: -220px;
  z-index: 1000;
  transition: left 0.3s ease;
  overflow-y: auto;
}

#sidebar.active {
  left: 0;
}

#sidebar .nav-link {
  color: #fff;
  padding: 10px;
  font-size: 13px;
  font-weight: 900;
  border-radius: 0.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  transition: 0.25s;
}

#sidebar .nav-link i {
  margin-right: 10px;
  font-size: 20px;
}

#sidebar .nav-link:hover {
  background: #495057;
  color: #0dcaf0;
  transform: translateX(5px);
  text-shadow: -3px -2px 0px rgba(170, 172, 196, 1);
}

#sidebar .nav-link.active {
  background: #0dcaf0;
  color: #fff;
}

#content {
  flex: 1;
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
  width: 100%;
}

.withSidebar {
  margin-left: 220px !important;
}

#sidebarToggle {
  display: inline-block;
}

/* Cards */
.cardsVue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.value {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 600;
}

.value :nth-child(1) {
  text-shadow: 0px 0px 6px rgba(66, 68, 90, 1);
  margin-top: 10px;
}

.value :nth-child(2) {
  font-size: 19px;
  font-weight: 900;
  padding: 10px 20px;
}

.stat-card {
  border-radius: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.2s ease;
  text-align: center;
  padding: 50px;
}

.stat-card:hover {
  transform: translateX(-15px);
}

.stat-card i {
  width: 3rem;
  font-size: 1.7rem;
  padding: 5px;
  border-radius: 0.75rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: 13px;
  width: 50%;
}

.bg-primary-light {
  background-color: #0d6efd;
}

.bg-success-light {
  background-color: #198754;
}

.bg-danger-light {
  background-color: #dc3545;
}

.bg-warning-light {
  background-color: #ffc107;
  color: #000;
}

.chart {
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tableChart {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
  text-align: center;
}

.container-chart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

@media (min-width: 768px) {
  #sidebar {
    left: 0;

  }

  #sidebarToggle {
    display: none;
  }
}

@media (min-width: 800px) {
  .cardsVue {
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .value {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 70%;
    margin: 0 auto;
  }
}

.txt {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  font-family: Helvetica;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.txt {
  text-align: center;
}

.txt i {
  color: #853bd1bf;
  font-size: 4rem;
}

@media (max-width: 768px) {
  .navbar-brand {
    position: relative !important;
    top: -20px !important;
  }

  .txt {
    font-size: 25px !important;
    text-align: right !important;
  }

  .txt i {
    font-size: 36px !important;
  }
}

.logo {}